{% extends "base.html" %}
{% block title %}Simulator{% endblock %}
{% block content %}

    <div class="container">
        <h1>{{ user.get_username }}'s portfolio</h1>
        <h3><i class="fas fa-money-bill" style="color:mediumseagreen"></i> ${{wallet}}</h3>

        {% if portfolio %}

            <br>

            <table class="table table-borderless table-sm table-hover text-center">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TICKER</th>
                    <th scope="col">QTY</th>
                    <th scope="col">PURCHASE PRICE</th>
                    <th scope="col">CURRENT PRICE</th>
                    <th scope="col">CHANGE</th>
                    <th scope="col">TOTAL VALUE</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                {% for id, ticker, quantity, bought, current, change, total in bought_and_current %}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{ticker}}</td>
                        <td>{{quantity}}</td>
                        <td>{{bought}}</td>
                        <td>{{current}}</td>
                        {% if change < 0 %}
                            <td><b style="color:red">{{change}}%</b></td>
                        {% else %}
                            <td><b style="color:mediumseagreen">+{{change}}%</b></td>
                        {% endif %}
                        <td>{{total}}</td>
                        <td><a class="btn btn-outline-danger btn-sm" href="{% url 'sell_all' id=id %}">Sell All</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

        <br>

    <hr class="divider">

    <br>

    <div class="row">

        <h1>Order stock</h1>
        <p>Please add a ticker (or its ID) and the quantity of shares you'd like to buy or sell.</p>

        <div class="col-6">

            <form action="{% url 'simulator' %}" method="POST">
                <div class="row mb-3">
                    {% csrf_token %}
                    <label>Ticker name</label>
                    <div class="col-sm-10">
                        <input class="form-control me-2" type="search" placeholder="GOOG, RKT..." aria-label="Search" name="ticker">
                    </div>
                </div>

                <div class="row mb-3">
                    <label>Quantity to buy</label>
                    <div class="col-sm-10">
                        <input class="form-control me-2" type="search" placeholder="100?" aria-label="Search" name="quantity">
                    </div>
                </div>

                <button class="btn btn-outline-success" type="submit">Buy</button>

            </form>

        </div>

        <div class="col-6">

            <form action="{% url 'sell' %}" method="POST">

                <div class="row mb-3">
                    {% csrf_token %}
                    <label>Ticker ID #</label>
                    <div class="col-sm-10">
                        <input class="form-control me-2" type="search" placeholder="18, 20..." aria-label="Search" name="stock_id">
                    </div>
                </div>

                <div class="row mb-3">
                    <label>Quantity to sell</label>
                    <div class="col-sm-10">
                        <input class="form-control me-2" type="search" placeholder="100?" aria-label="Search" name="quantity">
                    </div>
                </div>

                <button class="btn btn-outline-danger" type="submit">Sell</button>

            </form>

        </div>

    </div>

    <br>
    <br>

    <hr class="divider">

    <br>

        <h1>Transaction history</h1>
        <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Date (GMT)</th>
            <th scope="col">Type</th>
            <th scope="col">Ticker</th>
            <th scope="col">Qty</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>

       {% for i in history reversed %}  {# ordre descendant #}

            {% if i.transaction == "BUY" %}
                <tr style="background-color: #edf7f2">
                    <th scope="row">{{ i.date|date:"d/m/Y - H:i:s" }}</th>
                    <td>{{ i.transaction }}</td>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.price }}</td>
                </tr>
            {% else %}
                <tr style="background-color:#fceff0">
                <th scope="row">{{ i.date|date:"d/m/Y - H:i:s" }}</th>
                <td>{{ i.transaction }}</td>
                <td>{{ i.symbol }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.price }}</td>
            </tr>

            {% endif %}
        {% endfor %}

        </tbody>
        </table>

    <br>
    <br>
    <br>
    <br>

    </div>

{% endblock %}
